<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <title>Template Carrito De Compras</title>
</head>
<body>
  <main>
    <section class="productos">
      <figure class="producto_img">
        <img src="../assets/img/12-04.jpg" alt="">
      </figure>
      <figure class="producto_img">
        <img src="../assets/img/12-03.jpg" alt="">
      </figure>
      <figure class="producto_img">
        <img src="../assets/img/16-04.jpg" alt="">
      </figure>
      <figure class="producto_img">
        <img src="../assets/img/18222916.jpg" alt="">
      </figure>
      <figure class="producto_img">
        <img src="../assets/img/2204.jpg" alt="">
      </figure>
      <figure class="producto_img">
        <img src="../assets/img/4100_5_10.jpg" alt="">
      </figure>
    </section>
  </main>
</body>
</html>